<div class="pull-left">
	<form name ="addPassForm">
		<input type="text" ng-model="monthlyPass.passPrice" placeholder="Enter Pass Price"/>
		<input type="text" ng-model="monthlyPass.customer.customerId" placeholder="Enter Customer ID"/>
		<button ng-click='createMonthlyPass()' class="btn btn-primary" type="submit">Add Pass</button>
	</form>
</div>
<div class="pull-right">
	<form name ="addCustomerForm">
		<input type="text" ng-model="customer.firstName" placeholder="Enter First Name"/>
		
	
		<button ng-click='createCustomer()' class="btn btn-primary" type="submit">Add New Customer</button>
	</form>
</div>