<div class="pull-left">
	<form name ="addPassForm">
		<input id="priceInput" type="text" ng-model="monthlyPass.passPrice" placeholder="Enter Pass Price"/>
		<br />
		<input id="vehicleIdInput" type="text" ng-model="monthlyPass.vehicle.vehicleId" placeholder="Enter Vehicle ID" />
		<br />
		<input id="customerIdInput" type="text" ng-model="monthlyPass.customer.customerId" placeholder="Enter Customer ID"/>
		<br />
		<input id="expirationInput" type="text" ng-model="monthlyPass.expirationDate" placeholder="Enter Expiration Date"/>
		<br />
		<button id="addPassSubmitButton" ng-click='createMonthlyPass()' class="btn btn-primary" type="submit">Add Pass</button>
	</form>
</div>

<div class="pull-right">
	<form name ="addVehicleForm">
		<input type="text" ng-model="vehicle.vehicleMake" placeholder="Enter Vehicle Make"/>
		<br />	
		<input type="text" ng-model="vehicle.vehicleModel" placeholder="Enter Vehicle Model"/>
		<br />
		<input type="text" ng-model="vehicle.licenseNumber" placeholder="Enter License Number"/>
		<br />
		<input type="text" ng-model="vehicle.licenseState" placeholder="Enter License State"/>
		<br />
		<input type="text" ng-model="vehicle.vehicleColor" placeholder="Enter Vehicle Color"/>
		<br />
		<button ng-click='createVehicle()' class="btn btn-primary" type="submit">Add New Vehicle</button>
	</form>
</div>

<div class="pull-right">
	<form name ="addCustomerForm">
		<input type="text" ng-model="customer.firstName" placeholder="Enter First Name"/>
		<br />
		<input type="text" ng-model="customer.lastName" placeholder="Enter Last Name"/>
		<br />	
		<input type="text" ng-model="customer.phoneNumber" placeholder="Enter Phone Number"/>
		<br />
		<input type="tet" ng-model="customer.emailAddress" placeholder="Enter Email Address"/>
		<br />
		<button ng-click='createCustomer()' class="btn btn-primary" type="submit">Add New Customer</button>
	</form>
</div>