<div class="pull-left">
	<form name ="addPassForm">
		<input type="text" ng-model="monthlyPass.passPrice" placeholder="Enter Pass Price"/>
		<br />
		<input type="text" ng-model="monthlyPass.vehicle.vehicleId" placeholder="Enter Vehicle ID" />
		<br />
		<input type="text" ng-model="monthlyPass.customer.customerId" placeholder="Enter Customer ID"/>
		<br />
		<button ng-click='createMonthlyPass()' class="btn btn-primary" type="submit">Add Pass</button>
	</form>
</div>

<div class="pull-right">
	<form name ="addVehicleForm">
		<input type="text" ng-model="vehicle.vehicleMake" placeholder="Enter Vehicle Make"/>
		<br />	
		<button ng-click='createVehicle()' class="btn btn-primary" type="submit">Add New Vehicle</button>
	</form>
</div>
<br />
<br />
<br />
<div class="pull-right">
	<form name ="addCustomerForm">
		<input type="text" ng-model="customer.firstName" placeholder="Enter First Name"/>
		<br />
		<input type="text" ng-model="customer.lastName" placeholder="Enter Last Name"/>
		<br />	
		<input type="text" ng-model="customer.phoneNumber" placeholder="Enter Phone Number"/>
		<br />
		<input type="tet" ng-model="customer.emailAddress" placeholder="Enter Email Address"/>
		<br />
		<button ng-click='createCustomer()' class="btn btn-primary" type="submit">Add New Customer</button>
	</form>
</div>