<div id="viewPassesTpl">
 
 <table class="table table-bordered">
    <thead>
    <h1>Current Passes</h1>
    </thead>
     <tbody>
     	<tr>
     		<td>Pass Id</td>
     		<td>Pass Price</td>
     	</tr>
     	<tr ng-repeat="pass in passList">
     		<td>{{pass.passId}}</td>
     		<td>{{pass.passPrice}}</td>
     	</tr>
     </tbody>
    
  </table>
</div>

<div id="viewCustomers">

 <table class="table table-bordered">
     <thead>
     <h1>Current Customers</h1>
    </thead>
     <tbody>
     	<tr>
     		<td>Customer Id</td>
     		<td>First Name</td>
     	</tr>
     	<tr ng-repeat="customer in customerList">
     		<td>{{customer.customerId}}</td>
     		<td>{{customer.firstName}}</td>
     	</tr>
     </tbody>
    
    </table>
</div>
